* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}

/* banner section  */

/* background color of banner  */
.banner-section {
  background-color: #e554731a;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* banner text div  */
.text-div {
  color: #272727;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-top: 70px;
}

/* paragraph text inner banner  */
.paragraph-text {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

/* positioning the banner image  */
header img {
  padding-top: 30px;
  height: 470px;
  padding-right: 100px;
}

/* design of shop now button  */
.shop-now-button {
  background-color: palevioletred;
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  border: 15px solid palevioletred;
  border-radius: 5px;
}

/* finish of header section  */

/* main section starts  */

.main-background {
  background: rgba(229, 84, 115, 0.05);
  width: 100%;
  height: 100%;
  height: 450px;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

span {
  color: #e55473;
}
.hot-deal-text {
  color: #272727;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
main img {
  height: 300px;
  padding-top: 20px;
  margin-right: 30px;
}
.paragraph-text-02 {
  color: rgba(39, 39, 39, 0.6);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
.sing-up-button {
  background-color: palevioletred;
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  border: 15px solid palevioletred;
  border-radius: 5px;
  margin-left: 250px;
}
.social-image ul {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 100px;
}

/* .email-title{
   height: 500px;
   border: 3px solid white;
   border-radius: 0;
   background-image: url('./Rectangle\ 9.png');
   background-repeat: no-repeat;
   margin-left: 140px;
   margin-right: 140px;
} */

.bg-image {
  height: 350px;
  background-image: url("./Rectangle9.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 145px;
  margin-right: 170px;
  margin-bottom: 100px;
}

.email-title {
  padding-top: 100px;
  text-align: center;
  color: #272727;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.paragraph-text-03 {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.email-bar {
  border: 10px solid white;
  border-radius: 5px;
  padding: 10px;
  padding-inline-end: 350px;
}

.footer-background {
  background: #111010;
  height: 50vh;
}
.footer-title {
  color: white;
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
  padding-top: 100px;
}
footer span {
  color: #e55473;
}
.footer-paragraph {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-top: 15px;
}
.copywrite {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 20px;
}

/* hover effect only  */

.shop-now-button:hover {
  box-shadow: 0px 2px 10px 5px #97b1bf;
}
.sing-up-button:hover {
  box-shadow: 0px 2px 10px 5px #97b1bf;
}

/* self made section  */
.self-made {
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  height: 70vh;
  margin-bottom: 100px;
  margin-left: 145px;
  margin-right: 170px;
}
.title-self {
  text-align: center;
  color: #272727;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-top: 60px;
  padding-bottom: 10px;
}
.zip-title {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-top: 5px;
}
.zip-input {
  border: 20px solid white;
  border-radius: 10px;
  margin: 20px 425px;
  padding-inline-end: 100px;
  justify-content: center;
  border-color: white;
}
.Perfect-option {
  border: 20px solid white;
  border-radius: 10px;
  margin: 20px 425px;
  padding-inline-end: 150px;
  justify-content: center;
  border-color: white;
}

.search-button {
  background-color: palevioletred;
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  border: 10px solid palevioletred;
  border-radius: 5px;
  margin-left: 463px;
  width: 20%;
}
.search-button:hover {
  box-shadow: 0px 2px 10px 5px #97b1bf;
}

.bonus-section {
  text-align: center;
  margin-top: 100px;
}

.bonus-image ul {
  display: flex;
  justify-content: space-evenly;
  gap: 1px;
  /* align-items: center; */
  list-style: none;
  margin: 0px 170px;
}
.image-01 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  width: 350px;
  height: 400px;
}
.image-02 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  width: 350px;
  height: 400px;
}

.image-02 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  width: 350px;
  height: 400px;
}

.image-03 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  width: 350px;
  height: 400px;
}

.image01-set {
  padding-top: 80px;
}

.image02-set {
  padding-top: 50px;
  padding-left: 30px;
}
.image03-set {
  padding-top: 80px;
  padding-left: 30px;
}

.flower-title {
  color: #272727;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}
