* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}

/* banner section  */

/* background color of banner  */
.banner-section {
  background-color: #e554731a;
  height: 500px;
  display: flex;
  justify-content: space-around;
}

/* banner text div  */
.text-div {
  color: #272727;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-top: 70px;
}

/* paragraph text inner banner  */
.paragraph-text {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

/* positioning the banner image  */
header img {
  padding-top: 30px;
  /* width: 390px; */
  height: 470px;
  padding-right: 100px;
}

/* design of shop now button  */
.shop-now-button {
  background-color: palevioletred;
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  border: 15px solid palevioletred;
  border-radius: 5px;
}

/* finish of header section  */

/* main section starts  */

.main-background {
  background: rgba(229, 84, 115, 0.05);
  width: 100%;
  height: 100%;
  height: 350px;
  margin-top: 200px;
  margin-bottom: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

span {
  color: #e55473;
}
.hot-deal-text{
    color: #272727;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;

}
main img{
    height: 300px;
    padding-top: 20px;
}
.paragraph-text-02{
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}